<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eidreceipie.islam.mazharul.citycorporationchittagong">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ccc_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenueButton"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SamprotikActivity" />
        <activity android:name=".ColomanActivity" />
        <activity android:name=".Grihito" />
        <activity android:name=".SebaActivity" />
        <activity android:name=".OvijogActivity" />
        <activity android:name=".OvijogDetailsActivity"></activity>
    </application>

</manifest>